{% load static %}
<!-- section footer start -->
<div class="section_footer bottom">
	<div class="container">
		<div class="mail_section">
			<div class="row">
				<div class="col-sm-6 col-lg-2">
					<div><a href="#"><img src="{% static 'images/footer-logo.png' %}"></a></div>
				</div>
				<div class="col-sm-6 col-lg-2">
					<div class="footer-logo"><img src="{% static 'images/phone-icon.png' %}"><span class="map_text">(71) 1234567890</span></div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="footer-logo"><img src="{% static 'images/email-icon.png' %}"><span class="map_text">Demo@gmail.com</span></div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="social_icon">
						<ul>
							<li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
							<li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
							<li><a href="#"><img src="{% static 'images/in-icon.png' %}"></a></li>
							<li><a href="#"><img src="{% static 'images/google-icon.png' %}"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</div>
<!-- section footer end -->